.location_list_container {
 text-align: center;
 margin: 10rem 0;
}
.location_list_container h2{
    font-size: 2.5rem;
}
.location_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  width: 85%;
  margin: 0 auto;
  margin-top: 4rem;
}
.img {
  width: 30rem;
  height: 30rem;
  border-radius: 5px;
}
.location{
    font-size: 16px;
    margin-top: 10px;
}
.location_name{
    font-size: 14px;
    margin: 7px 0;
    color: rgb(87, 87, 87);
}
.euro{
    font-size: 13px;
    margin-right: 3px;
    font-weight: bold;
}

.night{
    font-size:13px ;
    color: rgb(87, 87, 87);
}
.price{
    font-size: 13px;
    margin-right: 5px;
    font-weight: bold;
}