.header {
  font-size: 20px;
  margin: 2rem 0;
}

.section {
  border: 1px solid #dddcdc;
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section:hover {
  background-color: #dddcdc;
}

.flag {
  font-size: 2rem;
  margin-right: 1rem;
}

.city {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.country {
  font-size: 1.5rem;
}
.current_bookmark {
  background-color: #dddcdc;
}

.trash {
  font-size: 15px;
  border: 1px solid rgb(213, 212, 212);
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(193, 60, 60);
}
.trash:hover{
  background-color: rgb(193,60,60);
  color: #fff;
}